###########################################################################
#	Files
###########################################################################

build/lib/*.pyc
**/*.iml
**/.project
**/*.idea
**/*.recommenders
**/appVersion.json
**/**/*/appVersion.json
**/svnversion.properties
**/version.jsp
**/*.settings
**/*.classpath
**/*.metadata
**/.classpath
**/.recommenders
**/.externalToolBuilders
**/.settings
**/*.java~
**/atlassian-ide-plugin.xml
*.log
**/.DS_Store
current
*.classpath
**/*.project
*.project
version.jsp
appVersion.json
svnversion.properties
temp-pom.xml
config/master_config.yml
config/services
.settings
**/*.map
rebel.xml
**/*.log


###########################################################################
#	Folders
###########################################################################

**/target/
**/tomcat-config/
**/tomcat-config-8/
**/.sass-cache/
**/logs/*
qa/
**/.settings/
.metadata/
.recommenders/
target/
bin/
deploy/
tomcat-config/
.sass-cache/
**/.settings/
**/overlays/
crs
**/.profiler/
